/* link Fonts Google  */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.color1{
    color: #252B48;
}
.color2{
    color: #5CD2E6;
}
.bg1{
    background-color: #252B48;
}
.bg2{
    background-color: #fff;
}



/* ============================= start logo  */
.navBgColor{
    background-color: #252B48;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
.navbar-brand{
    color: #fff;
    font-size: 25px;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-brand span{
    color: #5CD2E6;
    font-family: 'Pacifico', cursive;;
}

/* =================================== nav ul  */
.navbar-nav .nav-item .nav-link{
    color: #fff;
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #5CD2E6;
}

.dropdown-menu{
    background-color:#252B48 ;
}

.dropdown-menu .dropdown-item{
    color: #fff;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #5CD2E6;
}

.head{
    background-color: #252B48;
}
.icon-xmark{
    cursor: pointer;
    padding: 3px 7px;
    color: #252B48;
    background-color: #fff;
    border-radius: 3px;
}

.btnFooter{
    background-color: transparent;
    width: 150px;
    height: 40px;
    color: #333;
    border: 2px solid #252B48;
    outline: 0;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}
.btnFooter:hover{
    color: #fff;
}

.btnFooter::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #252B48;
    transition: 0.3s;
    z-index: -1;
}
.btnFooter:hover::before{
    width: 100%;
    color: #fff;
}

.form-control:focus{
    border:1px solid #252B48 ;
    box-shadow: 0 0 5px #252B48;
}

/* ================================ MAIN  */

main{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
main .carousel-indicators{
    z-index: 99;
}
main .carousel-indicators button.active{
    background-color: #5CD2E6;
}
main .carousel-control-prev , 
main .carousel-control-next{
    width: 50px;
    height: 50px;
    padding: 3px 7px;
    background-color: #5CD2E6;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border-radius: 3px;
}
main .carousel-control-prev{
    left: 30px;
}
main .carousel-control-next{
    right: 30px;
}
main .overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index:1;
}
main .carousel {
    width: 100%;
    height: 100vh;
}
main .carousel .carousel-inner .carousel-item{
    width: 100%;
    max-height: 100vh;
}
main .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
main .carousel .carousel-inner .carousel-item .content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #5CD2E6;
    z-index: 9;
    padding: 20px 40px;
    border-radius: 5px;
    opacity: 0.8;
}
main .carousel .carousel-inner .carousel-item .content h4{
    color: #252B48;
    margin-bottom: 10px;
}
@media (max-width:667px) {
    main .carousel .carousel-inner .carousel-item .content h4{
        font-size: 14px;
    }
}
main .carousel .carousel-inner .carousel-item .content p{
    color: #333;
}
main .carousel .carousel-inner .carousel-item .content button{
    width:150px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #252B48;
    color: #fff;
    border-radius: 3px;
}

main .icons{
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 999;
}
main .icons .icon{
    padding: 5px 10px;
    background-color: #252B48;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
main .icons .icon:hover{
    background-color: #5CD2E6;
}

/* =================================================== city*/
.city{
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px 0px;
}
@media(max-width:667px) {
    .city .container{
        text-align: center;
    }
}
.city h1{
    color: #252B48;
    font-size:35px;
    font-weight: 800;
}
.city p{
    color: #5c5c5c;
}
.city button{
    width: 200px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #252B48;
    color: #fff;
    border-radius: 3px;
}


/* ================================== poper */
.poper{
    width: 100%;
    padding: 50px 0px;
    background-color: #252B48;
}
.poper .accordion .accordion-item{
    background-color: #fff;
}
.poper .accordion .accordion-item .accordion-header button{
    color: #252B48;
    font-size: 20px;
    background-color:#f0f0f0;
    border: 2px solid #252B48;
}
.poper .accordion .accordion-item .accordion-header button:focus{
    border:2px solid #252B48;
    box-shadow: 0 0 3px #252B48;
}

.poper .accordion .accordion-item .accordion-body{
    color: #333;
}

/* ========================================================== transform */
.transform{
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px 0px;
}
.transform .box{
    background-color: #eee;
    padding: 20px;
}
.transform .box h3{
    color: #252B48;
    margin-bottom: 15px;
    text-align: center;
}
.transform .box p{
    color: #787878;
    text-align: center;
}
.transform .box .btns{
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    color: #333;
    border: 1px solid #252B48;
    transition: 0.3s;
}
.transform .box .btns:hover{
    background-color: #252B48;
    border: 1px solid #fff;
    color: #fff;
}
.transform .box .modal{
    z-index: 999999999;
}
.transform .box .modal .modal-dialog{
    background-color: #f0f0f0;
}
.transform .box .modal .modal-dialog .modal-header{
    background-color: #252B48;
}
.transform .box .modal .modal-dialog .modal-header h1{
    color: #fff;
}
.transform .box .modal .modal-dialog .modal-header button{
    padding: 7px 10px;
    background-color: #5CD2E6;
    color: #fff !important;
}
.transform .box .modal .modal-dialog .modal-content .modal-body h2{
    text-align: right !important;
}
.transform .box .modal .modal-dialog .modal-content .modal-footer button{
    width: 150px;
    height: 40px;
    background-color: #252B48;
    color: #fff !important;
}

.transform .box .input{
    position: relative;
}
.transform .box .input .copy{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #252B48;
}



/* ===================== images */
.images{
    width: 100%;
    height: 400px;
    background-image: url("../images/raimond-klavins-030ZIU1Rook-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.images .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;

}

/* ======================= card-img */
.card-img{
    width: 100%;
    background-color: #252B48;
    padding: 50px 0px;
}
.card-img .box{
    position: relative;
    background-color: #001524;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.card-img .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: #3ed2ed;
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
}
.card-img .box::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background-color: #5CD2E6;
    opacity: 0.3;
    transition: 0.3s;
    z-index: 1;
}
.card-img .box:hover::after,
.card-img .box:hover::before{
    height: 50%;
    width: 100%;
}

.card-img .box .image{
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 400px;
}
.card-img .box .image  img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}
.card-img .box .image img:hover{
    transform: scale(1.1);
}

/* ======================================== thanks */
.thanks{
    width: 100%;
    background-color: #f0f0f0;
    padding: 50px 0px;
}
.thanks .box{
    position: relative;
    background-color: #001524;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.thanks .box:hover{
    transform: scale(1.03);
}
.thanks .box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3ed2ed;
    opacity: 0.6;
    left: 0;
    top: 0;
}
.thanks .box .image{
    overflow: hidden;
    margin-bottom: 15px;
}
.thanks .box .image img{
    width: 100%;
    object-fit: cover;
}
.thanks .box .image img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}
.thanks .box .image img:hover{
    transform: scale(1.1);
}

.thanks .box .text{
    position: absolute;
    top: 30px;
    left: 20px;
}
.thanks .box .img img{
    position: absolute;
    width: 70px;
    object-fit: cover;
    height: 70px;
    border-radius: 50%;
    bottom: 40px;
    left: 20px;
}

/* ========================== news */
.news{
    width: 100%;
    background-color: #252B48;
    padding: 50px 0px;
}

.news .box{
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px;
}
.news .box .card-text {
    padding: 20px;
}
.news .box .card-text h3{
    color: #001524;
    font-size: 30px;
    margin-bottom: 15px;
}
.news .box .card-text .date{
    color: #001524;
    margin-bottom: 20px;
}
.news .box .card-text p{
    width: 60%;
    color: #5c5c5c;
}
.news .box .card-text .flex{
    display: flex;
    gap: 20px;
}
.news .box .card-text .flex span{
    padding: 2px 10px;
    background-color: #001524;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.news .box .card-text .flex span:hover{
    background-color: #006577;
}
.news .box .img{
    width: 40%;
    position: relative;
}
.news .box .img .overlay{
    position: absolute;
    width:120%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
    transform: skew(-5deg);
}
.news .box .img img{
    width:120%;
    object-fit: cover;
    transform: skew(-5deg);
}

@media(max-width:991px) {
    .news .box{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .news .box .img{
        width: 100%;
    }
    .news .box .img .overlay{
        transform: skew(0deg);
        width: 100%;
    }
    .news .box .img img{
        width: 100%;
        max-height: 250px;
        transform: skew(0deg);
    }
    .news .box .card-text p{
        width: 100%;
    }
}
@media(max-width:667px) {
    .news .box .card-text .flex span{
        font-size: 12px;
        padding: 1px 5px;
    }
}

/* =================== icons */
.join{
    width: 100%;
    padding: 50px 0px;
    background-color: #f0f0f0;
}